<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://comprasl.ddns.net:3306/comprasLita?serverTimezone=UTC</property>
    <property name="hibernate.show_sql">false</property>
    <!--<property name="hibernate.connection.url">jdbc:mysql://comprasl.ddns.net:3306/comprasLita?zeroDateTimeBehavior=convertToNull&serverTimezone=UTC-3</property>-->
    <property name="hibernate.connection.username">cet002b</property>
    <property name="hibernate.connection.password">admin</property>
    <mapping resource="nodo.hbm.xml"/>
    <mapping resource="producto.hbm.xml"/>
    <mapping resource="comercio.hbm.xml"/>
    <mapping resource="proximos.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
